/* _content/AquaEnergyMonitor/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-zyyam2wft5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zyyam2wft5] {
    flex: 1;
}

.sidebar[b-zyyam2wft5] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zyyam2wft5] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zyyam2wft5]  a, .top-row[b-zyyam2wft5]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-zyyam2wft5]  a:hover, .top-row[b-zyyam2wft5]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-zyyam2wft5]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-zyyam2wft5] {
        justify-content: space-between;
    }

    .top-row[b-zyyam2wft5]  a, .top-row[b-zyyam2wft5]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zyyam2wft5] {
        flex-direction: row;
    }

    .sidebar[b-zyyam2wft5] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zyyam2wft5] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-zyyam2wft5]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-zyyam2wft5], article[b-zyyam2wft5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-zyyam2wft5] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-zyyam2wft5] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/AquaEnergyMonitor/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-j574bhe1ij] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-j574bhe1ij] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-j574bhe1ij] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-j574bhe1ij] {
    font-size: 1.1rem;
}

.bi[b-j574bhe1ij] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-j574bhe1ij] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-j574bhe1ij] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-j574bhe1ij] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-j574bhe1ij] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-j574bhe1ij] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-j574bhe1ij] {
        padding-bottom: 1rem;
    }

    .nav-item[b-j574bhe1ij]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-j574bhe1ij]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-j574bhe1ij]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-j574bhe1ij] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-j574bhe1ij] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-j574bhe1ij] {
        display: none;
    }

    .nav-scrollable[b-j574bhe1ij] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/AquaEnergyMonitor/Components/Pages/Cadastro.razor.rz.scp.css */
.page-background[b-cb44y0cl8n] {
    background-image: url('/images/hidreletrica.jpg'); /* caminho ajustável */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.form-container[b-cb44y0cl8n] {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 800px;
}

.form-title[b-cb44y0cl8n] {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

/* Grid para os pares de campos */
.form-grid[b-cb44y0cl8n] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

/* Campo isolado ocupa as duas colunas */
.form-grid-full[b-cb44y0cl8n] {
    grid-column: 1 / 3;
}

/* Espaço entre elementos gerais */
.form-group[b-cb44y0cl8n] {
    margin-top: 1rem;
}
/* _content/AquaEnergyMonitor/Components/Pages/Home.razor.rz.scp.css */
.site-header[b-8wgba5kmuj] {
    background-color: white;
    height: 8vh;
    border-bottom: 1px solid #A7A7A7;
    padding: 2.7vh 5% 0px 5%;
    margin-bottom: 20px;
}

.header-title[b-8wgba5kmuj] {
    color:aqua;
}

.aqua-container[b-8wgba5kmuj] {
    width: 70%;
    background-color:aliceblue;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}
/* _content/AquaEnergyMonitor/Components/Pages/Login.razor.rz.scp.css */
.page-background[b-fjj905fwh8] {
    background-image: url('/images/hidreletrica.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    padding: 1rem;
}

.login-container[b-fjj905fwh8] {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 40px;
    width: 500px;
    margin: 80px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    height: 350px;
}

form .form-control[b-fjj905fwh8] {
    margin-bottom: 15px;
}
/* _content/AquaEnergyMonitor/Components/Pages/WelcomePage.razor.rz.scp.css */
.site-header[b-qql5wbv4ug] {
    background-color: steelblue;
    height: 8vh;
    padding: 2.6vh 5% 0px 5%;
}

.header-title[b-qql5wbv4ug] {
    color: white;
}

.content[b-qql5wbv4ug] {
    display: flex;
    flex-direction: column;
    height: 92vh;
    background-image: url('/images/hidreletrica.jpg');
    background-size: cover;
    background-position: center;
}

.center-div[b-qql5wbv4ug] {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 30px 10px 30px;
    border-radius: 8px;
    text-align: center;
    width: 50%;
    margin: 10vh auto;
    height: 300px;
    font-size: 17px;
}

.buttons[b-qql5wbv4ug] {
    margin-top: 30px;
}

.login-btn[b-qql5wbv4ug], .register-btn[b-qql5wbv4ug] {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.login-btn[b-qql5wbv4ug] {
    background-color: #28a745;
    color: white;
}

.register-btn[b-qql5wbv4ug] {
    background-color: #ffc107;
    color: white;
}

.login-btn:hover[b-qql5wbv4ug] {
    background-color: #218838;
}

.register-btn:hover[b-qql5wbv4ug] {
    background-color: #e0a800;
}
