.site-header[b-qql5wbv4ug] {
    background-color: steelblue;
    height: 8vh;
    padding: 2.6vh 5% 0px 5%;
}

.header-title[b-qql5wbv4ug] {
    color: white;
}

.content[b-qql5wbv4ug] {
    display: flex;
    flex-direction: column;
    height: 92vh;
    background-image: url('/images/hidreletrica.jpg');
    background-size: cover;
    background-position: center;
}

.center-div[b-qql5wbv4ug] {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 30px 10px 30px;
    border-radius: 8px;
    text-align: center;
    width: 50%;
    margin: 10vh auto;
    height: 300px;
    font-size: 17px;
}

.buttons[b-qql5wbv4ug] {
    margin-top: 30px;
}

.login-btn[b-qql5wbv4ug], .register-btn[b-qql5wbv4ug] {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.login-btn[b-qql5wbv4ug] {
    background-color: #28a745;
    color: white;
}

.register-btn[b-qql5wbv4ug] {
    background-color: #ffc107;
    color: white;
}

.login-btn:hover[b-qql5wbv4ug] {
    background-color: #218838;
}

.register-btn:hover[b-qql5wbv4ug] {
    background-color: #e0a800;
}
