@page "/cadastro"
@rendermode InteractiveServer

@using System.ComponentModel.DataAnnotations
@using AquaEnergyMonitor.Models
@using AquaEnergyMonitor.Models.Enuns
@using AquaEnergyMonitor.Services

@inject AuthService Service
@inject NavigationManager NavManager

<div class="page-background">
    <div class="form-container">
        <h2 class="form-title">Cadastro de Usuário</h2>

        <EditForm Model="@User" OnValidSubmit="Cadastrar" FormName="cadastro">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-grid">
                <InputText @bind-Value="User.Nome" class="form-control" type="text" />

                <InputText @bind-Value="User.Sobrenome" class="form-control" placeholder="Sobrenome" />

                <InputText @bind-Value="User.Email" type="email" class="form-control form-grid-full" placeholder="E-mail" />

                <InputText @bind-Value="User.Senha" type="password" class="form-control" placeholder="Senha" />

                <InputText @bind-Value="User.ConfirmaSenha" type="password" class="form-control" placeholder="Confirmar Senha" />

                <InputText @bind-Value="User.Endereco" class="form-control form-grid-full" placeholder="Endereço (Rua e Número)" />

                <InputText @bind-Value="User.Cidade" class="form-control" placeholder="Cidade" />

                <InputText @bind-Value="User.Estado" class="form-control" placeholder="Estado" />

                <InputText @bind-Value="User.Cep" class="form-control form-grid-full" placeholder="CEP" />
            </div>

            <div class="form-group mt-2">
                <label>Tipo de Perfil:</label><br />
                <InputRadioGroup @bind-Value="User.Perfil">
                    <InputRadio Value="@TipoPerfilEnum.Residencial" /> Residencial
                    <InputRadio Value="@TipoPerfilEnum.Organizacional" class="ms-2" /> Organizacional
                </InputRadioGroup>
            </div>

            <InputNumber @bind-Value="User.QuantPessoas" TValue="int" class="form-control form-group mt-2" placeholder="Quantidade de pessoas" />
            <ValidationMessage For="@(() => User.QuantPessoas)" />

            <button class="btn btn-primary w-100 mt-3" type="submit">Cadastrar</button>
        </EditForm>

        <div class="text-center mt-3">
            <span>Já tem uma conta?</span>
            <a href="/login" class="btn btn-outline-secondary btn-sm ms-2">Login</a>
        </div>
    </div>
</div>

@code {
    public Usuario User { get; set; } = new();

    private async Task Cadastrar()
    {
        var sucesso = await Service.Register(User);
        if (sucesso)
        {
            NavManager.NavigateTo("/login");
        }
    }
}
