.site-header {
    background-color: white;
    height: 8vh;
    border-bottom: 1px solid #A7A7A7;
    padding: 2.7vh 5% 0px 5%;
    margin-bottom: 20px;
}

.header-title {
    color:aqua;
}

.aqua-container {
    width: 70%;
    background-color:aliceblue;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
}
